

<!-- Loop over each object in the projects array -->
{{#each review as |review| }}
<div class="row mb-4 review">
  <div class="col-md-5">
    <h2>{{categories.name}}</h2>
    <h2>
      
      <a href="/review/{{review.id}}">{{review.title}}</a>
    </h2>
  
    <p>Created by {{user.username}} on {{review.createdAt}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{review.message}}
    </p>
    <p>likes: {{review.likes}} Replies: {{review.replies}}</p>
    <button id="like-button">Like</button>
    <button id="comment-button">Comment</button>
  </div>
</div>
{{/each}}
<script src="/js/homepage.js"></script>
