

<!-- Loop over each object in the projects array -->
{{#each review as |review| }}
<div class="row mb-4 review">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/review/{{review.id}}">{{review.title}}</a>
    </h2>
  
    <p>Created by {{review.user_id}} on {{format_date review.date}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{review.message}}
    </p>
  </div>
</div>
{{/each}}
