<div class="row mb-4 review">
  <div class="col-md-5">
    <h2>{{review.category.name}}</h2>
    <h2>
      
      <a href="/review/{{review.id}}">{{review.title}}</a>
    </h2>
  
    <p>Created by {{user.username}} on {{review.createdAt}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{review.message}}
    </p>
    <p>likes: {{review.likes}} Replies: {{review.replies}}</p>
    <button id="like-button">Like</button>
    <button id="comment-button">Comment</button>
    <form>
      <textarea class="form-control" id="comment-text" rows="3" style="visibility: hidden;"></textarea>
      <button id="submit-button" style="visibility: hidden;">Submit</button>
    </form>
  </div>

    {{#each commentArray}}
    <div class="container">
      <p class="row">{{this.user.username}} Said: </p>

      <p class="row">
        {{this.message}}
      </p>
    </div>
    {{/each}}

</div>
<script src="/js/single-review.js"></script>